body {
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: rgb(0, 150, 200);
	text-decoration: none;
}

a:hover {
	color: rgb(0, 100, 125);
	text-decoration: none;
}

ul {
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
}

div div {
	margin-left: 3%;
	margin-right: 3%;
}

#top-menu {
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	padding-top: 5px;
	position: absolute;
	background-color: darkgrey;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#top-menu a {
	color: black;
}

#top-menu a:hover {
	color: gray;
}

#menu-items {
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
	margin-right: 10px;
}

#menu-items li {
	padding: 10px 20px 10px 20px;
	display: inline-block;
}

#dream {
	margin-left: 0px;
	padding-top: 100px;
	padding-left: 0px;
	text-align: center;
}

#dream img {
	width: auto;
	height: 600px;
}

